ponggame/__pycache__

cnn_bn_pt/logs

cnn_pool_tf/checkpoints
cnn_pool_tf/logs
cnn_pool_tf/__pyceche__

cnn_pt/logs

cnn_tf/checkpoints
cnn_tf/logs
cnn_tf/__pyceche__

image/*.csv

ponggame/__pycache__
